<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Country Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Country Details</h1>
        <div class="main_container">
           <div class="row">
               <div class="left">isoName:</div>
               <div class="left" th:text="${country.isoName}"></div>
            </div>
            
            <div class="row">
               <div class="left">Name:</div>
               <div class="left" th:text="${country.name}"></div>
            </div>
            
            <div class="row">
               <div class="left">Continent:</div>
               <div class="left" th:text="${country.continent}"></div>
            </div>
            
            <div class="row">
               <div class="left">Currency Code:</div>
               <div class="left" th:text="${country.currencyCode}"></div>
            </div>
            
            <div class="row">
               <div class="left">Currency Name</div>
               <div class="left" th:text="${country.currencyName}"></div>
            </div>
            
            <div class="row">
               <div class="left">Currency Symbol</div>
               <div class="left" th:text="${country.currencySymbol}"></div>
            </div>
            
            <div class="row">
               <div class="left">Flag</div>
               <div class="left" th:text="${country.flag}"></div>
            </div>
            
            <div class="row">
               <div class="left">Calling Codes</div>
               <div class="left" th:text="${country.callingCodes}"></div>
            </div>
            
        </div>
        
    </body>
</html>
